{% extends "base.html" %} {% block content %}

<h2>Por favor sube la foto de tu objeto relacionado con Iron Maiden</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Subir
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">¡Verificar!</button>
            <p>El modelo fue entrenado con imágenes de objetos de Iron Maiden y de Megadeth (como contraejemplo). Para mayor información sobre el dataset de entrenamiento ingrese a mi GitHub</a></p>
            <p>Desarrollado por: Alex Huerta, alumno del Magister Data Science.Universidad del Desarrollo</p>
            <p>Github: <a href="https://github.com/alexhuertaarmijo/ironmaiden">Git</a></p>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}